# Commands

alias rm='echo "rm is disabled, use trash or /bin/rm instead."'

alias cl='clear'

alias ls='ls --color=auto'
alias ll='ls -l'
alias lla='ls -l -A'
alias la='ls -A'
alias l='ls'

editlatex() {
    if [ -z $1 ]; then
        echo "Please specify a filename"
    elif [ -a $1.tex ]; then
        exit
    else
        cp ~/Documents/LatexTemplate.tex $1.tex
        vim $1.tex
    fi
}

alias cp='cp -r'

alias latex='editlatex'

alias flacsplit='shntool split -f *.cue -o flac *.flac && cuetag.sh *.cue split-track*.flac'

alias flactag='cuetag.sh **/**.flac'

alias siji='xfd -rows 19 -columns 34 -fn -wuncon-siji-medium-r-normal--10-100-75-75-c-80-iso10646-1'

# Programs

alias vim='vim -u /home/herby/.vimrc'

alias mupdf='setsid mupdf'

alias feh='setsid feh -Z -e "gohufont/11"'

alias pacman='sudo pacman'

mutt='mutt -F ~/.config/mutt/muttrc'

# Configuring

#editor="vim"

#alias configbspwm='$editor ~/.config/bspwm/bspwmrc'

#alias configsxhkd='$editor ~/.config/sxhkd/sxhkdrc'

#alias configxinit='$editor ~/.xinitrc'

#alias configxresources='$editor ~/.Xresources'

#alias configaliases='$editor ~/.aliases'

#alias configncmpcpp='$editor ~/.ncmpcpp/config'

#alias configvim='$editor ~/.vimrc'

# Configuring Bash

#alias configbashprofile='$editor ~/.bash_profile'

#alias configbash='$editor ~/.bashrc'

# Configuring Zsh

#alias configzsh='$editor ~/.zshrc'

#alias configzshenv='$editor ~/.zshenv'

#alias configzlogin='$editor ~/.zlogin'

# Configuring Mpv

#alias configmpv='$editor ~/.config/mpv/mpv.conf'

#alias configmpvinput='$editor ~/.config/mpv/input.conf'

# Moving

alias ..='cd ..'

alias csgo='cd ~/.steam/steam/steamapps/common/Counter-Strike\ Global\ Offensive/csgo/'

alias ksp='cd ~/.local/share/Steam/steamapps/common/Kerbal\ Space\ Program/'

alias syntax='cd /usr/share/doc/zsh-syntax-highlighting'

# Zsh file aliases

alias -s html=vim
alias -s css=vim
alias -s jpg=feh
alias -s png=feh
alias -s pdf=mupdf
alias -s torrent=rtorrent

# Fun

alias radio='mpv --no-resume-playback http://radio.2f30.org:8000/live.ogg'

alias nyan='telnet nyancat.dakko.us'
