!URXVT SETTINGS
URxvt.scrollBar: false
URxvt.internalBorder: 7
URxvt.iso14755: false
URxvt.cursorBlink: 0
URxvt.cursorUnderline: 0

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

!FONTS
*font: xft:DejaVuSansMono
*boldfont: xft:DejaVuSansMono:bold
*italicfont: xft:DejaVuSansMono-Oblique
*.letterSpace: -2
!bitmap
!*.font:      -*-terminus-medium-r-*-*-20-*-*-*-*-*-*-*
!*.boldfont:  -*-terminus-bold-*-*-*-20-*-*-*-*-*-*-*
!*.italicfont:-*-terminus-medium-*-*-*-20-*-*-*-*-*-*-*
!*.bolditalicfont:-*-terminus-bold-*-*-*-20-*-*-*-*-*-*-*

!XFT FONTS
Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        92
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

!Source colours if I need to
#include "../../Theming/Colours/Visible"
