!URXVT SETTINGS
URxvt.scrollBar: false
URxvt.internalBorder: 7
URxvt.iso14755: false
URxvt.cursorBlink: 0
URxvt.cursorUnderline: 0

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

!FONTS

!mensch (apple)
!*font: xft:Mensch:size=14
!*boldfont: xft:Mensch:bold:size=14
!*italicfont: xft:Mensch:italic:size=14
!*bolditalicfont: xft:Mensch:bold:italic:size=14

!dejavu
!*font: xft:DejaVuSansMono
!*boldfont: xft:DejaVuSansMono:bold
!*italicfont: xft:DejaVuSansMono-Oblique
!*bolditalicfont: xft:DejaVuSansMono-Oblique:bold
!*.letterSpace: -2

!bitmap
*.font:      -*-gohufont-medium-r-*-*-14-*-*-*-*-*-*-*
*.boldfont:  -*-gohufont-bold-*-*-*-14-*-*-*-*-*-*-*
*.italicfont:-*-gohufont-medium-*-*-*-14-*-*-*-*-*-*-*
*.bolditalicfont:-*-gohufont-bold-*-*-*-14-*-*-*-*-*-*-*

!XFT FONTS
Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        92
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

!Source colours if I need to
#include "../../Theming/Colours/CandyStore"
